<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.susion.rabbit">

    <application>
        <provider
            android:name=".RabbitApplicationProvider"
            android:authorities="${applicationId}.rabbit-installer"
            android:exported="false" />
    </application>

</manifest>
